.summary-container .col-12 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.img-fluid {
  margin-top: 20px;
}
.col-md-6.mb-3 > strong {
  margin-right: 10px;
}
.total-cost-label {
  margin-right: 10px;
}
