.container {
  margin: auto;
  max-width: fit-content;
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form-select {
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
